<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/fondo5.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img src="assets/img/beta1.png" alt="">
          </div>
          <h1 class="presentation-title">Bienvenido {{userDta.displayName}} </h1>
          <div class="fog-low">
          </div>

        </div>

      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h2 class="presentation-subtitle category-absolute ml-auto mr-auto">Recorriendo Colombia abordo de mi RS
    </h2>
  </div>

  <div class="responsive-divider"></div>
  <div class="container tim-container">
    <div class="myTitles">
      <h3>Cuenta tus aventuras</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <p class="description">
            En este formulario, debes completar varios campos para contar tu aventura. Primero, debes escribir un título que resuma brevemente tu viaje. Luego, en el campo de descripción, puedes detallar tu experiencia, narrando lo que viviste, viste y sentiste durante la travesía. Además, tienes la opción de subir una imagen que acompañe su relato, lo que te permitirá compartir visualmente un momento destacado de tu aventura. Finalmente, una vez que hayas completado estos campos, debes hacer clic en el botón "Guardar Viaje" para enviar el formulario y registrar tu historia.
          </p>
        </div>

        <div class="col-12 col-md-8">
          <div class="content-1">
            <form class="register-form" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
              <label>Titulo</label>
              <div class="input-group form-group-no-border mb-4" [ngClass]="{'input-group-focus':focus===true}">


                <input type="text" class="form-control-2" placeholder="Agrega un titulo a tu viaje" (focus)="focus=true"
                  (blur)="focus=false" formControlName="title">
              </div>

              <label>Descripcion</label>
              <div class="input-group form-group-no-border mb-4" [ngClass]="{'input-group-focus':focus1===true}">

                <textarea type="text" class="form-control-2" rows="8" placeholder="Añade una descripcion de tu aventura"
                  (focus)="focus1=true" (blur)="focus1=false" formControlName="descripcion"></textarea>
              </div>
              <label>Subir imagen</label>
              <div class="input-group form-group-no-border mb-4" [ngClass]="{'input-group-focus':focus===true}">


                <input type="file" class="form-control-2" placeholder="Agrega un titulo a tu viaje" (focus)="focus=true"
                  (blur)="focus=false" (change)="onSelect($event)" accept="image/*" >
              </div>
              

              <div class="images">
                <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen Previsualizada" />
              </div>
              <button class="btn btn-danger btn-block btn-round mt-5" type="submit">Guardar Viaje</button>
              <!-- <button class="btn btn-danger btn-block btn-round mt-5" type="button" (click)="upload()">Subir imagen</button> -->
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Un momento... </p>
</ngx-spinner>