<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/pages']">
                <span class="pueblitos">Pueblitos</span> <span class="tintico"> y tintico</span>
            </a>

            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                        href="https://www.facebook.com/share/1Eq9iG8R2r/" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                        href="https://www.instagram.com/stiven_ace21?igsh=OHFjMmJ1NjhvaGRl" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                        href="https://www.instagram.com/stiven_ace21?igsh=OHFjMmJ1NjhvaGRl" target="_blank">
                        <i class="fa fa-youtube"></i>
                        <p class="d-lg-none">Youtube</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="isLoge()">
                    <a class="nav-link" [routerLink]="['/pages/dashboard']">
                        <i class="fa fa-info-circle"></i> <!-- Icono de "Acerca de mi" -->
                        <p class="d-lg-none">Acerca de mí</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isLoge()">
                    <a class="nav-link" [routerLink]="['/pages/dashboard']">
                        <i class="fa fa-plus-circle"></i> <!-- Icono de "Nueva publicación" -->
                        <p class="d-lg-none">Nueva publicación</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isLoge()">
                    <a class="nav-link" [routerLink]="['/pages/edit-place']">
                        <i class="fa fa-pencil-square-o"></i> <!-- Icono de "Editar publicación" -->
                        <p class="d-lg-none">Editar publicación</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isLoge()">
                    <a class="nav-link" [routerLink]="['/pages']">
                        <i class="fa fa-remove"></i> <!-- Icono de "Editar publicación" -->
                        <p class="d-lg-none">Borrar publicación</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isLoge()">
                    <a class="nav-link" [routerLink]="['/pages/dashboard']">
                        <i class="fa fa-bolt"></i> <!-- Icono de "Actualizar datos" -->
                        <p class="d-lg-none">Actualizar datos</p>
                    </a>
                </li>

                <li class="nav-item" *ngIf="!isLoge()">
                    <a (click)="islogout()" class="btn btn-danger btn-round">Cerrar sesión</a>
                </li>
                <li class="nav-item" *ngIf="isLoge()">
                    <a [routerLink]="['/pages/login']" class="btn btn-danger btn-round">Inicia sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Un momento... </p>