@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

label,
h3 {
    color: #ffffff !important;
    font-family: Bebas Neue, serif !important;
    font-size: 2.825em !important;

}
.ale{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width: 50px;
    /* Ancho del botón */
    height: 50px;
    /* Alto del botón (igual al ancho para hacerlo redondo) */
    border-radius: 50%;
    /* Hace que el botón sea circular */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.circle i {
    margin-right: 0px;
    cursor: pointer;
}

.inform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inform p {
    color: #ffffff !important;
    text-align: center !important;
    font-weight: bold;
}