<div class="images">
  <img src="./../../assets/img/moto1.png" alt="">
</div>
<div class="responsive-divider"></div>
<div class="container tim-container">
  <div class="myTitles">
    <h3>El inicio de una travesia</h3>
  </div>
  <div class="container">
    <div class="row">
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt assumenda magnam, unde
        mollitia ut quis odio explicabo provident ullam, sunt adipisci cumque perferendis obcaecati dignissimos
        distinctio iure dolor placeat dolorem!
        Blanditiis rerum deserunt enim neque cumque? Veniam, quos? Delectus voluptas eaque explicabo nulla vero ducimus
        nihil rem. Autem beatae voluptate quas fuga pariatur esse impedit sed, corrupti corporis, est magnam!
        Aliquid dignissimos repellat perferendis beatae est, nostrum, repellendus harum voluptas distinctio odit
        accusantium odio velit natus! Repellendus, aspernatur eaque non ea expedita suscipit soluta molestias, quaerat
        dolor alias eos corrupti.
        </p>
        <img src="./../../assets/img/cascada.jpg" alt="" class="img-thumbnail img-responsive">
    </div>
  </div>
</div>

<div class="responsive-divider"></div>
<div class="container tim-container">
  <div class="myTitles">
    <h3>Donde la nace la magia</h3>
  </div>
  <div class="container">
    <div class="row">
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt assumenda magnam, unde
        mollitia ut quis odio explicabo provident ullam, sunt adipisci cumque perferendis obcaecati dignissimos
        distinctio iure dolor placeat dolorem!
        Blanditiis rerum deserunt enim neque cumque? Veniam, quos? Delectus voluptas eaque explicabo nulla vero ducimus
        nihil rem. Autem beatae voluptate quas fuga pariatur esse impedit sed, corrupti corporis, est magnam!
        Aliquid dignissimos repellat perferendis beatae est, nostrum, repellendus harum voluptas distinctio odit
        accusantium odio velit natus! Repellendus, aspernatur eaque non ea expedita suscipit soluta molestias, quaerat
        dolor alias eos corrupti.
        </p>
        <img src="./../../assets/img/poli.jpeg" alt="" class="img-thumbnail img-responsive">
    </div>
  </div>
</div>