<router-outlet></router-outlet>
<app-components></app-components>
<div class="images">
  <img src="./../../assets/img/moto1.png" alt="">
</div>
<div class="responsive-divider"></div>
<div class="container tim-container">
  <div class="myTitles">
    <h3>El inicio de una travesia</h3>
  </div>
  <div class="container">
    <div class="row">
      <p class="description">
        Todos los sueños nacen en lugares que uno nunca imagina, en rincones ocultos de nuestro corazón donde el deseo de aventura y exploración comienza a crecer. Cada meta tiene su razón de ser, su objetivo que se quiere alcanzar, y cada misión espera ser cumplida por alguien decidido, un verdadero gladiador dispuesto a superar cualquier desafío. Así como el corcel espera pacientemente a su caballero, mi Pulsar RS 200 aguarda por mí, lista para llevarme a través de los pueblitos más hermosos y, quizás, peligrosos de Colombia.
      </p>
      <img src="./../../assets/img/acelasensumoto2.jpeg" alt="" class="img-thumbnail img-responsive">
    </div>
  </div>
</div>

<div class="responsive-divider"></div>
<div class="container tim-container">
  <div class="myTitles">
    <h3>Donde nace la magia</h3>
  </div>
  <div class="container">
    <div class="row">
      <p class="description">Mi meta es llegar al mar, pero no de cualquier manera. Quiero que esta travesía sea más que solo un viaje. Cada kilómetro recorrido, cada curva tomada, cada paisaje que se despliega ante mis ojos, es una oportunidad para conocer más de nuestro país, para admirar su belleza en todo su esplendor. Parto desde la ciudad de Fusagasuga, desde los tranquilos pueblos enclavados en las montañas, hasta los vibrantes rincones de la costa, todo forma parte de esta travesía. Y mientras recorro Colombia, tomando un tintico en cada parada, me doy cuenta de que lo más hermoso de este viaje no es solo el destino, sino cada momento vivido en el camino.
      </p>
      <img src="./../../assets/img/poli.jpeg" alt="" class="img-thumbnail img-responsive">
    </div>
  </div>
</div>


<div class="container tim-container" *ngFor="let place of places; let i = index">
  <div class="myTitles">
    <h3> {{place.title}} </h3>
  </div>
  <div class="container">
    <div class="row">
      <p class="description">{{place.description}}</p>
      <img src="{{place.imagen}}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="ale" *ngIf="optionsAdmin()">
      <a class="circle" (click)="editPlace(place)">
        <i class="fa fa-pencil" style="font-size: 20px; color: #ffffff; text-align: center;"></i>
      </a>
      <a class="circle ml-2" (click)="deletePlace(place.id, place.title)">
        <i class="fa fa-times" style="font-size: 20px; color: #ffffff; text-align: center;"></i>
      </a>
    </div>
  </div>
  <div class="responsive-divider"></div>

</div>