<footer class="footer">
    <div class="container">
        <div class="images">
            <img src="./../../../assets/img/beta1.png" alt="">
        </div>
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Quiero mi pagina</a></li>
                    <li><a href="#">Saenz Technology</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> Saenz Technology
                </span>
            </div>
        </div>
    </div>
</footer>